#map {
    padding: 0;
}

#contact-options h4 {
    font-size: 18px;
    padding-bottom: 12px;

}

#contact-info {
    margin-bottom: 25px;
}

#contact-info i {
    color : #2980b9;
    font-size: 18px;
    margin : 10px;
    width : 25px;
    text-align: center;
}

#contact-options textarea {
    height: 128px !important;
}

#contact-options {
    margin-bottom: 25px;
}

#contact-options .heading-with-border-bottom {
    margin-bottom: 30px;
}